In [5]:
import pandas as pd
import numpy as np
import matplotlib as pyplot 
%matplotlib inline

In [6]:
bebida = pd.read_csv('drinks.csv')

In [7]:
bebida.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [8]:
bebida.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [9]:
# Qualquer dataframe possui um indice
bebida.index

RangeIndex(start=0, stop=193, step=1)

In [10]:
# As colunas tambem estão armazenados em um objeto de indice
bebida.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [11]:
# indice ou colunas não saõ incluidas no shape
bebida.shape

(193, 7)

In [12]:
# Indices e colunas são inteiros por padrão caso não sejam definidos
file = pd.read_table('espectadores.txt', header=None, sep='|').head()

In [13]:
file.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [14]:
file.head()

   0   1  2           3       4
0  1  24  M  technician   85711
1  2  53  F       other   94043
2  3  23  M  technician   32067
3  4  24  M      writer   43537
4  5  33  F  technician  432527

OS INDICES SÃO UTILIZADOS EM GERAL PARA TRES OPERAÇÕES

1 - identificação

2  - Seleção

3  - Alinhameto

IDENTIFICAÇÃO

In [15]:
# Na identificação o indice permanece com cada linha quando filtramos 
# um Dataframe

bebida[bebida.continent == 'South America']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
6,Argentina,193,25,221,8.3,43.085.000,South America
20,Bolivia,167,41,8,3.8,11.410.651,South America
23,Brazil,245,145,16,7.2,207.660.929,South America
35,Chile,130,124,172,7.6,18.006.407,South America
37,Colombia,159,76,3,4.2,48.336.300,South America
52,Ecuador,162,74,3,4.2,16.027.500,South America
72,Guyana,93,302,1,7.1,746.900,South America
132,Paraguay,213,117,74,7.3,7.003.406,South America
133,Peru,163,160,21,6.1,31.151.643,South America
163,Suriname,128,178,7,5.6,534.189,South America
185,Uruguay,115,35,220,6.6,3.415.866,South America
188,Venezuela,333,100,3,7.7,30.620.404,South America

In [16]:
%matplotlib inline

In [17]:
#bebida.population.plot(South America='hist')

LOCALIZAÇÃO

In [18]:
#Na seleção podemos trazer uma parte do Dataframe Utilizamos o indice
# A função loc permite a localização por indice
bebida.loc[6, 'beer_servings']

193

ALTERANDO INDICES 

A alteração dde indices reflete do Dataframe na forma de agrupamento 
ou reshaping

In [28]:
#ALterando o indice para paises com a opção implace, que refletira no 
#Dataframe original
bebida.set_index('country', inplace = True)

KeyError: 'country'

NameError: name 'drink' is not defined