In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
drinks = pd.read_csv('drinks.csv')

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

APLICANDO FUNÇÕES EM DATAFRAME

In [10]:
def consumo(a):
    if a <= 75:
        return 'baixo'
    elif a >= 151:
        return 'alto'
    else:
        return 'moderado'

In [11]:
drinks['consumo'] = drinks['beer_servings'].apply(consumo)

In [12]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,consumo
0,Afghanistan,0,0,0,0.0,34.660.000,Asia,baixo
1,Albania,89,132,54,4.9,2.876.000,Europe,moderado
2,Algeria,25,0,14,0.7,40.061.000,Africa,baixo
3,Andorra,245,138,312,12.4,77.281.000,Europe,alto
4,Angola,217,57,45,5.9,28.081.000,Africa,alto

In [32]:
def consumo(a):
    if a <= 75:
        return 'baixo'
    elif a >= 151:
        return 'alto'
    else:
        return 'moderado'

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [34]:
drinks['consumo'] = drinks['beer_servings'].apply(consumo)

In [35]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,consumo
0,Afghanistan,0,0,0,0.0,34.660.000,Asia,baixo
1,Albania,89,132,54,4.9,2.876.000,Europe,moderado
2,Algeria,25,0,14,0.7,40.061.000,Africa,baixo
3,Andorra,245,138,312,12.4,77.281.000,Europe,alto
4,Angola,217,57,45,5.9,28.081.000,Africa,alto

In [36]:
del drinks['population']

In [37]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,consumo
0,Afghanistan,0,0,0,0.0,Asia,baixo
1,Albania,89,132,54,4.9,Europe,moderado
2,Algeria,25,0,14,0.7,Africa,baixo
3,Andorra,245,138,312,12.4,Europe,alto
4,Angola,217,57,45,5.9,Africa,alto

APLICANDO GROUPBY

In [38]:
drinks_1 =drinks.groupby('continent')

In [39]:
type(drinks_1)

pandas.core.groupby.generic.DataFrameGroupBy

In [40]:
drinks_1.groups

{'Africa': Int64Index([  2,   4,  18,  22,  26,  27,  28,  29,  31,  33,  34,  38,  39,
              47,  49,  53,  55,  56,  58,  62,  63,  66,  70,  71,  88,  95,
              96,  97, 100, 101, 104, 107, 108, 114, 115, 117, 123, 124, 142,
             148, 150, 152, 153, 158, 159, 162, 164, 172, 175, 179, 183, 191,
             192],
            dtype='int64'),
 'Asia': Int64Index([  0,  12,  13,  19,  24,  30,  36,  46,  77,  78,  79,  80,  82,
              85,  86,  87,  90,  91,  92,  94, 102, 103, 112, 116, 119, 127,
             128, 134, 137, 138, 141, 149, 154, 161, 167, 168, 169, 171, 176,
             177, 181, 186, 189, 190],
            dtype='int64'),
 'Europe': Int64Index([  1,   3,   7,   9,  10,  15,  16,  21,  25,  42,  44,  45,  48,
              57,  60,  61,  64,  65,  67,  75,  76,  81,  83,  93,  98,  99,
             105, 111, 113, 120, 126, 135, 136, 139, 140, 147, 151, 155, 156,
             160, 165, 166, 170, 180, 182],
            dtype='int64'),
 'North America': Int64Index([  5,  11,  14,  17,  32,  41,  43,  50,  51,  54,  68,  69,  73,
              74,  84, 109, 122, 130, 143, 144, 145, 174, 184],
            dtype='int64'),
 'Oceania': Int64Index([8, 40, 59, 89, 106, 110, 118, 121, 125, 129, 131, 146, 157, 173,
             178, 187],
            dtype='int64'),
 'South America': Int64Index([6, 20, 23, 35, 37, 52, 72, 132, 133, 163, 185, 188], dtype='int64')}

In [41]:
len(drinks_1.groups)# saber a quantidade de dgrupos

6

In [42]:
ordenaDrinks = drinks_1.size() # Ordenar o grupo

In [43]:
ordenaDrinks

continent
Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
dtype: int64

In [44]:
ordenaDrinks.sort_values(ascending  = True)# Ordenar por ordem crescente

continent
South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
dtype: int64

In [45]:
drinks_2 = drinks.groupby(['continent','consumo'])# duas colunas

In [46]:
total = drinks_2.size()
total.sort_values(ascending = False)
total

continent      consumo
Africa         alto         6
               baixo       39
               moderado     8
Asia           alto         1
               baixo       36
               moderado     7
Europe         alto        30
               baixo        6
               moderado     9
North America  alto        10
               baixo        5
               moderado     8
Oceania        alto         4
               baixo       10
               moderado     2
South America  alto         8
               moderado     4
dtype: int64

In [47]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,consumo
0,Afghanistan,0,0,0,0.0,Asia,baixo
1,Albania,89,132,54,4.9,Europe,moderado
2,Algeria,25,0,14,0.7,Africa,baixo
3,Andorra,245,138,312,12.4,Europe,alto
4,Angola,217,57,45,5.9,Africa,alto
5,Antigua & Barbuda,102,128,45,4.9,North America,moderado
6,Argentina,193,25,221,8.3,South America,alto
7,Armenia,21,179,11,3.8,Europe,baixo
8,Australia,261,72,212,10.4,Oceania,alto
9,Austria,279,75,191,9.7,Europe,alto

MOVIMENTANDO INDICES