In [27]:
import pandas as pd
import numpy as np

In [28]:
# trantando arquivo txt
usuarios = pd.read_table('duplicados.txt', sep='|', header=None)

C:\Users\claud\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

In [29]:
usuarios.head()

   0   1  2           3       4
0  1  24  M  technician   85711
1  2  53  F       other  940443
2  3  23  M      writer   32067
3  1  24  M  technician   85711
4  4  24  M  technician   43537

In [30]:
# verificando linhas e colunas
usuarios.shape

(8, 5)

In [31]:
# procurando por CEp duplicados
usuarios.zip_code.duplicated().head(20)

AttributeError: 'DataFrame' object has no attribute 'zip_code'

In [32]:
# renomeando as  colunas
usuarios.columns = ['user_id','age','geader','ocupation','zip_code']

In [33]:
usuarios.head(10)

   user_id  age geader   ocupation  zip_code
0        1   24      M  technician     85711
1        2   53      F       other    940443
2        3   23      M      writer     32067
3        1   24      M  technician     85711
4        4   24      M  technician     43537
5        5   33      F       other     15213
6        5   33      F       other     15213
7        1   24      M  technician     85711

In [34]:
# procurando por CEp duplicados
usuarios.zip_code.duplicated().head(20)

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7     True
Name: zip_code, dtype: bool

In [35]:
# Como aprendemos uma serie boleana pode ser convertida em 
# 0 e 1 automaticamente ao utilizarmos metodos de agregação

usuarios.zip_code.duplicated().sum()

3

In [36]:
# Verificar se uma linha inteira e duplicada 
usuarios.duplicated().sum()

3

In [37]:
# Mantendo a primeira linha
usuarios.loc[usuarios.duplicated(keep='first'), :]

   user_id  age geader   ocupation  zip_code
3        1   24      M  technician     85711
6        5   33      F       other     15213
7        1   24      M  technician     85711

In [38]:
usuarios.shape

(8, 5)

In [39]:
usuarios.duplicated().sum()

3

In [40]:
# mantendo a ultima linha
usuarios.loc[usuarios.duplicated(keep='last'), :]

   user_id  age geader   ocupation  zip_code
0        1   24      M  technician     85711
3        1   24      M  technician     85711
5        5   33      F       other     15213

In [41]:
# todas as linhas duplicadas 
usuarios.loc[usuarios.duplicated(keep=False), :]

   user_id  age geader   ocupation  zip_code
0        1   24      M  technician     85711
3        1   24      M  technician     85711
5        5   33      F       other     15213
6        5   33      F       other     15213
7        1   24      M  technician     85711

In [45]:
#Apagando as lnhas duplicadas(inplace-false por defualt) - shape do dataset que ficou
usuarios.drop_duplicates(keep='first').shape

(5, 5)

usuarios.drop_duplicates(keep='')

In [46]:
usuarios.drop_duplicates(keep='last').shape

(5, 5)

UTILIZANDO O MAIOR ARQUIVO

In [56]:
espectadores = pd.read_table('espectadores.txt', sep ='|', header= None)

C:\Users\claud\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [62]:
espectadores.head()

AttributeError: 'list' object has no attribute 'head'

In [58]:
espectadores = ['age','geder', 'ocupation', 'zip_code']

In [61]:
espectadores

['age', 'geder', 'ocupation', 'zip_code']

APAGANDO AS LINHAS DUPLICADAS

In [63]:
usuarios.drop_duplicates(keep='first').shape

(5, 5)

In [64]:
usuarios.drop_duplicates(keep='lest').shape

ValueError: keep must be either "first", "last" or False

In [65]:
usuarios.drop_duplicates(keep=False).shape

(3, 5)